<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.example.keepsake">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        tools:ignore="GoogleAppIndexingWarning">
        tools:ignore="AllowBackup,GoogleAppIndexingWarning">
        <activity android:name=".ChangeFamilyActivity" />
        <activity android:name=".UpdateDetailsActivity" />
        <activity android:name=".FamilyMemberPageActivity" />
        <activity
            android:name=".ViewFamilyItemsActivity"
            android:label="@string/title_activity_view_family_items"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity android:name=".SignUpPageActivity" />
        <activity android:name=".RequestFamilyGroupActivity" />
        <activity android:name=".JoinFamilyGroup" />
        <activity android:name=".CreateFamilyGroup" />
        <activity android:name=".NewItemUpload" />
        <activity android:name=".AccountSettingsActivity" />
        <activity android:name=".HomePageActivity"
            android:exported="true" />
        <activity android:name=".FamilySetup" />
        <activity android:name=".JoinFamilyGroupActivity" />
        <activity android:name=".CreateFamilyGroupActivity" />
        <activity android:name=".NewItemUploadActivity" />
        <activity android:name=".FamilySetupActivity" />
        <activity android:name=".EditItemActivity" />
        <activity android:name=".ViewItemActivity" />
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>