<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.example.keepsake">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        tools:ignore="AllowBackup,GoogleAppIndexingWarning">
        <activity android:name=".ChangeFamily" />
        <activity android:name=".ChangeFamilyActivity"></activity>
        <activity android:name=".UpdateDetails" />
        <activity android:name=".FamilyMemberPage" />
        <activity
            android:name=".ViewFamilyItems"
            android:label="@string/title_activity_view_family_items"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity android:name=".SignUpPage" />
        <activity android:name=".RequestFamilyGroup" />
        <activity android:name=".JoinFamilyGroupActivity" />
        <activity android:name=".CreateFamilyGroupActivity" />
        <activity android:name=".NewItemUploadActivity" />
        <activity android:name=".AccountSettingsActivity" />
        <activity android:name=".HomePageActivity" />
        <activity android:name=".FamilySetupActivity" />
        <activity android:name=".EditItemActivity" />
        <activity android:name=".MainActivity" />
        <activity android:name=".ViewItemActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>